.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid blue;

  &__input {
    width: 100%;
    height: 30px;
    padding-inline: 10px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid #3d3d3d;
    font-weight: bold;
    color: #3b4cca;
  }

  &__button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: -10px;
    background-color: #cc0000;
    color: #ffffff;
    border-radius: 20px;
  }
}
