.home {
  width: 100%;
  min-height: calc(100% - 120px);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 220px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    &__item {
      flex: 1;
      display: flex;
      height: 220px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
  }

  @media (max-width: 1800px) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1200px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 800px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
