<section class="home">
  <ul class="home__list">
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>

    <!-- <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card>
    <app-pokemon-card class="home__list__item"></app-pokemon-card> -->
  </ul>

  <div class="home__footer">
    <app-principal-button label="Carregar mais">

    </app-principal-button>
  </div>
</section>