.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #ffde00;

  &__logo {
    width: 200px;
    border: 1px solid red;
  }

  &__search {
    width: 200px;
    border: 1px solid red;
  }
}
