/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: pokemon;
  src: url(assets/fonts/pokemon-solid.otf);
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
